::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 15px;
}

.calendar-card{
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  background-color: #004b8d;
  padding: 5px;
  border-radius: 10px;
  margin: 10px 0;
}

.fc {
  flex-grow: 1;
}


.fc-scroller {
  color: black;
}

thead {
  background-color: #b0d6ff;
}

.fc-daygrid-day-number {
  color: black;
}

.fc-col-header-cell-cushion {
  color: black;
}

.fc .fc-scrollgrid {
  border-collapse: collapse;
}

.fc .fc-scrollgrid-liquid {
  border-radius: 5px;
  background-color: white;
}

.fc-toolbar-title{
  color: #fff;
}

.fc-today-button{
  display: none !important;
}

.fc-button-primary {
  background-color:#333 !important;
  border: none !important;
  transition: background-color ease-in-out 250ms;
}

.fc-button-primary:hover {
  background-color: #555 !important;
}

