::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 15px;
}

.fc-scroller {
  color: #fff;
}

fc-daygrid-day-number {
  color: #fff;
}

.fc .fc-scrollgrid-liquid {
  height: 100%;
}

.fc-toolbar-title{
  color: #fff;
}

.fc-today-button{
  display: none !important;
}

.fc-button-primary {
  background-color:#333 !important;
  border: none !important;
  transition: background-color ease-in-out 250ms;
}

.fc-button-primary:hover {
  background-color: #555 !important;
  
}

@media screen and (max-width: 450px) {
  .fc .fc-scrollgrid-liquid {
    height: 175%;
  }

  .fc-toolbar-title{
    margin-top: -35px !important;
  }
}
