::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 15px;
}

.fc-scroller {
  color: #fff;
}

fc-daygrid-day-number {
  color: #fff;
}

.fc .fc-scrollgrid-liquid {
  height: 94.35% !important;
}

.card-calendar {
  background-color: #333;
  padding: 1rem;
  border-radius: 5px;
}

.fc-toolbar-title{
  color: #fff;
}

.fc-today-button{
  display: none !important;
}

.fc-button-primary {
  background-color:#333 !important;
  border: none !important;
  transition: background-color ease-in-out 250ms;
}

.fc-button-primary:hover {
  background-color: #555 !important;
  
}


@media screen and (max-width: 1130px) {
  .fc .fc-scrollgrid-liquid {
    height: 219% !important;
    margin-top: -23px !important;
  }
  .fc-toolbar-title{
    color: #fff;
    font-size: 2rem !important;
    margin-top: -40px !important;
  }
  .fc-button-primary {
    font-size: 1rem !important;
  }

  .card-calendar {
    background-color: #333;
    padding: 2.25rem 1rem 17rem 1rem;
    border-radius: 5px;
    height: 100% !important;
  }
}
